<section
	class="slide full"
	ng-repeat="image in images"
	ng-show="image.visible"
	ng-animate="animate"
	ng-swipe-left="next()"
	ng-swipe-right="prev()"
	ng-style="{
		'background-image': 'url({{image.background.img}})',
		'background-color': '{{image.background.color}}',
		'background-position': '{{image.background.position}}',
	}">
	<div class="constrain">
		<section class="content full">
			<h1>{{ image.headline }}</h1>
			<h2>{{ image.subheadline }}</h2>
			<p>{{ image.text }}</p>
			<div ng-repeat="link in image.links">
				<a class="cta button" href="{{ link.url }}" target="{{ link.target }}"><span class="{{ link.icon }}"></span>{{ link.text }}</a>
			</div>
		</section>
	</div>
	<button id="prev" class="slidenav" ng-click="prev()"><span class="icon-arrow_left"></span></button>
	<button id="next" class="slidenav" ng-click="next()"><span class="icon-arrow_right"></span></button>
</section>