<div class="wrapper">
	<div class="content full">
		<h1>Credit</h1>
		<p>Complete all form sections <span class="italics">(We will not share your information)</span></p>
	</div>
</div>
<div class="subsection full">
	<div class="wrapper">
		<form id="credit" class="order content full" action="mailto:rsmith@finixcreative.com" method="POST" novalidate>
			<section class="full">
				<p>Steps:</p>
				<ul class="checkout nav full">
					<li class="step sixth" ng-class="{ active:panel.isSelected(1) }">
						<a class="full center" href ng-click="panel.selectTab(1)">1</a>
					</li>
					<li class="step sixth" ng-class="{ active:panel.isSelected(2) }">
						<a class="full center" href ng-click="panel.selectTab(2)">2</a>
					</li>
					<li class="step sixth" ng-class="{ active:panel.isSelected(3) }">
						<a class="full center" href ng-click="panel.selectTab(3)">3</a>
					</li>
					<li class="step sixth" ng-class="{ active:panel.isSelected(4) }">
						<a class="full center" href ng-click="panel.selectTab(4)">4</a>
					</li>
					<li class="step sixth" ng-class="{ active:panel.isSelected(5) }">
						<a class="full center" href ng-click="panel.selectTab(5)">5</a>
					</li>
					<li class="step sixth" ng-class="{ active:panel.isSelected(6) }">
						<a class="full center" href ng-click="panel.selectTab(6)">6</a>
					</li>
				</ul>
				<div class="panel full" ng-show="panel.isSelected(1)" data-ng-include data-src="'app/pages/credit/step1.html'"></div>
				<div class="panel full" ng-show="panel.isSelected(2)" data-ng-include data-src="'app/pages/credit/step2.html'"></div>
				<div class="panel full" ng-show="panel.isSelected(3)" data-ng-include data-src="'app/pages/credit/step3.html'"></div>
				<div class="panel full" ng-show="panel.isSelected(4)" data-ng-include data-src="'app/pages/credit/step4.html'"></div>
				<div class="panel full" ng-show="panel.isSelected(5)" data-ng-include data-src="'app/pages/credit/step5.html'"></div>
				<div class="panel full" ng-show="panel.isSelected(6)" data-ng-include data-src="'app/pages/credit/step6.html'"></div>
			</section>
		</form>
	</div>
</div>