<div class="full subsection">
	<div class="wrapper">
		<div class="{{service.classes}} {{service.size}}" style="border-bottom: 1px solid #eee;" ng-repeat="service in content.content.home.services">
			<div class="center half">
				<img class="content" style="width: 100%; max-width: 300px;" src="{{service.logo.src}}" alt="{{service.logo.alt}}">
				<img class="full content" src="{{image.src}}" alt="{{image.alt}}" ng-repeat="image in service.images">
				<iframe class="videoplayer full content" src="{{video.src}}" ng-repeat="video in service.videos"></iframe>
				<video class="videoplayer full content" frameborder="0" poster="{{video.poster}}" controls ng-repeat="video in service.videos">
					<source src="{{video.src}}" type="video/mp4">
					Your browser does not support HTML5 video. Please download a modern browser, like <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>.
				</video>
			</div>
			<div class="half left content">
				<h3>{{service.headline}}</h3>
				<h4>{{service.subheadline}}</h4>
				<p>{{service.text}}</p>			
				<a class="cta button" href="{{service.link.href}}" target="_blank">{{service.link.text}}</a>
			</div>
		</div>
	</div>
</div>